doctype html
html(lang="zh-CN")
	head
		include ../partial/_head
	body
		.row.maindiv.hide
			.col.l2.z-depth-1.navbox
				include ../partial/_nav
			.col.l3.m4.articleList
				block list
				include ../partial/_pagination
			.col.l7.m8.s12.content
				block content
		include ../partial/_scripts

