include ../mixins/m_tags
include ../mixins/m_comment
include ../mixins/m_content
include _comment

if is_home()
	- var posts=page.posts.toArray()
	- var indexpost=posts[0]
	.section
		+content(indexpost)
		+comment(indexpost)
else if is_post()
	.section
		+content(page)
		+comment(page)
else
	- var posts=page.posts.toArray()
	- var indexpost=posts[0]
	.section
		+content(indexpost)
		+comment(indexpost)
	

