include head/title
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
!=css('http://fonts.useso.com/css?family=Signika:600')
!=css('css/materialize.min.css')
!=css('css/font-awesome.min.css')
!=css('css/zenburn.css')
!=css('css/main.css')
!=js('js/loading.js')
