include ../mixins/m_pagination

if page.total
	.seciton
		#pagination.valign-wrapper
			ul.pagination
				- var n = page.total
				- var i = 1
				if i != n
					if page.current == 1
						+pagination(url_for("index.html"),i++)(class="active")
					else
						+pagination(url_for("index.html"),i++)
				while i<=n
					if page.current == i
						+pagination(url_for("/page/"+i),i++)(class="active")
					else
						+pagination(url_for("/page/"+i),i++)