if page.total
	.seciton
		#pagination.valign-wrapper		
			ul.pagination
				li.active
					a(href='#!') 1
				li.waves-effect.waves-bule
					a(href='#!') 2
				li.waves-effect.waves-bule
					a(href='#!') 3
				li.waves-effect.waves-bule
					a(href='#!') 4
				li.waves-effect.waves-bule
					a(href='#!') 5
