.row.listnavhead
  .col.s12
    .section
      ul.tabs
        li.tab.col.s3
          a.active(href='#test1') HTML
        li.tab.col.s3
          a(href='#test2') CSS
        li.tab.col.s3
          a(href='#test3') Node.js
        li.tab.col.s3
          a(href='#test4') C++
        li.tab.col.s3
          a(href='#test4') Java
    .divider
  #test1.col.s12 
    .section
      a 
        span.listtitle 构建易于扩展的前端脚本
      .section
        .truncate.listcontent 翻了一下TIOBE的榜单，又看了一眼Github，想了想一位前辈所说的行业决定价值，觉得自己所会似乎都是毫无用处之物。
        i.fa.fa-calendar.listcontent 2015-09-21 18:17
    .divider 
    .section
      a 
        span.listtitle 构建易于扩展的前端脚本
      .section
        .truncate.listcontent 翻了一下TIOBE的榜单，又看了一眼Github，想了想一位前辈所说的行业决定价值，觉得自己所会似乎都是毫无用处之物。
        i.fa.fa-calendar.listcontent 2015-09-21 18:17
    .divider    
    .section
      a 
        span.listtitle 构建易于扩展的前端脚本
      .section
        .truncate.listcontent 翻了一下TIOBE的榜单，又看了一眼Github，想了想一位前辈所说的行业决定价值，觉得自己所会似乎都是毫无用处之物。
        i.fa.fa-calendar.listcontent 2015-09-21 18:17
    .divider    
    .section
      a 
        span.listtitle 构建易于扩展的前端脚本
      .section
        .truncate.listcontent 翻了一下TIOBE的榜单，又看了一眼Github，想了想一位前辈所说的行业决定价值，觉得自己所会似乎都是毫无用处之物。
        i.fa.fa-calendar.listcontent 2015-09-21 18:17
    .divider    
    .section
      a 
        span.listtitle 构建易于扩展的前端脚本
      .section
        .truncate.listcontent 翻了一下TIOBE的榜单，又看了一眼Github，想了想一位前辈所说的行业决定价值，觉得自己所会似乎都是毫无用处之物。
        i.fa.fa-calendar.listcontent 2015-09-21 18:17
    .divider    
    .section
      a 
        span.listtitle 构建易于扩展的前端脚本
      .section
        .truncate.listcontent 翻了一下TIOBE的榜单，又看了一眼Github，想了想一位前辈所说的行业决定价值，觉得自己所会似乎都是毫无用处之物。
        i.fa.fa-calendar.listcontent 2015-09-21 18:17
    .divider   
  #test2.col.s12 Test 2
  #test3.col.s12 Test 3
  #test4.col.s12 Test 4
