.nav-container
	.logo-box
		.row
			.col.s12
				.section
					img.circle.center-align.logo(src='images/logo.png',width='100px',height='100px')
					h5.center-align
						|Dogod
					h6.center-align Keep coding,go up everday!
					p.localtionInfo.center-align
						i.fa.fa-location-arrow.localtionText GuangZhou,China
					.section.follow
						a.waves-effect.waves-light.btn.blue.lighten-1 FOLLOW
				.divider
				.section
					table.centered
						tbody
							tr.socialIcon
								td 
									a
										i.fa.fa-github-square.fa-2x
								td 
									a
										i.fa.fa-weibo.fa-2x
								td
									a
										i.fa.fa-twitter.fa-2x
							tr.socialIcon
								td
									a
										i.fa.fa-envelope-o.fa-2x
								td
									a
										i.fa.fa-facebook-official.fa-2x
								td
									a
										i.fa.fa-stack-overflow.fa-2x
					.divider
					.section
						.center-align.navfoot ©Copyright 2015-2016 Dogod



