mixin comment(post)
  if post.comments && theme.duoshuo_shortName
    section#article-comment
      .ds-thread(
      data-thread-key=post.permalink,
      data-title=post.title,
      data-url=post.permalink)