mixin list-tag(tag)
	i.fa.fa-hashtag.listcontent.list-tag= tag
mixin list(title,time,brief,url,tags)
	.listrow.hoverable&attributes(attributes)
		.section.listsection
			a(href=url) 
				span.listtitle= title
			.section
				.listcontent.markdown-body
					!=brief
			.listInfo
				i.fa.fa-calendar.listcontent.list-calendar= time
		.divider 