mixin list(title,time,brief,url)
	.listrow.hoverable&attributes(attributes)
		.section.listsection
			a(href=url) 
				span.listtitle= title
			.section
				.listcontent.markdown-body.truncate
					!=brief
			i.fa.fa-calendar.listcontent= time
		.divider 